data/bike/Readme.txt
data/bike/hour.csv
data/bike/day.csv
notebooks/student_solutions/week2_lab04_bike_rental.ipynb
data/titanic.csv
.DS_Store
data/student-mat.csv
.gitignore
data/student-por.csv
data/student.txt
data/student-merge.R
Laboration/output.html
data/mnist/t10k-labels.idx1-ubyte
data/mnist/t10k-images.idx3-ubyte
data/mnist/train-images.idx3-ubyte
data/mnist/train-labels.idx1-ubyte
data/project_data.csv
data/creditcard.csv
